<div class="track_list playlist-p-list" data-id="{{t_id}}">
	<div class="track">
		<a class="block" href="{{t_url}}" data-load="playlist/{{t_uid}}">
			<img src="{{t_thumbnail}}" />
			<div class="valign plist_info_bg">
				<div class="valign">
					<img src="{{t_thumbnail}}" />
					<div>
						<h4>{{t_title}}</h4>
						<span class="user_name">{{USER name_v}}</span>
					</div>
				</div>
			</div>
			<div class="sng_cnt"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M21,3V15.5A3.5,3.5 0 0,1 17.5,19A3.5,3.5 0 0,1 14,15.5A3.5,3.5 0 0,1 17.5,12C18.04,12 18.55,12.12 19,12.34V6.47L9,8.6V17.5A3.5,3.5 0 0,1 5.5,21A3.5,3.5 0 0,1 2,17.5A3.5,3.5 0 0,1 5.5,14C6.04,14 6.55,14.12 7,14.34V6L21,3Z"></path></svg> {{t_songs}}</div>
		</a>
	</div>
</div>