<div class="ma_page_content sfy_pc_padd">
    <div class="ma_pc_inner">
		<?php echo loadPage('sidebar/top-header')?>
        <div class="container sfy_no_mobi_padd">
            <div class="row sett_page">
                <div class="col-md-4">
					<?php echo loadPage("settings/sidebar"); ?>
				</div>
				<div class="col-md-8">
					<div class="content st_content">
						<h2 class="user_sttng_panel_hd">{{LANG Manage Sessions}}</h2>
						<div class="table-responsive">
							<table id="manage-sessions" class="table ds_sess_table">
								<thead>
									<th>{{LANG Platform}}</th>
									<th>{{LANG Browser}}</th>
									<th>{{LANG Last Seen}}</th>
									<th>{{LANG Ip Address}}</th>
									<th>{{LANG Actions}}</th>
								</thead>
								<tbody>
									{{SESSION_LIST}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

<script>
    function logOutSession(id) {
        if (!confirm('Are you sure you want to log out from this device?')) {
            return false;
        }
        $('#session_' + id).remove();
        $.post("{{CONFIG ajax_url}}/user/delete_s?hash_id=" + getHashID(), {id: id}, function () {
            $.post("{{CONFIG ajax_url}}/user/session_status?hash_id=" + getHashID(), function (data) {
                if(data.status == 200) {
                    setTimeout(UpdateLastSeen, 30000);
                    $('#logged-out-modal').modal({
                        show: true
                    });
                }
            });
        });
    }
</script>