<div class="ma_page_content sfy_pc_padd">
	<div class="ma_pc_inner">
		<?php echo loadPage('sidebar/top-header')?>
		<div class="page_padding sfy_no_mobi_padd">
			<div class="upload_music">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<div class="no-track-found bg_light choice_upload" onclick="goToAjaxLink('upload-single')">
							<span class="sng"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,3V12.26C11.5,12.09 11,12 10.5,12C8,12 6,14 6,16.5C6,19 8,21 10.5,21C13,21 15,19 15,16.5V6H19V3H12Z"></path></svg></span> {{LANG Upload single song}}
						</div>
					</div>
					<div class="col-md-4">
						<div class="no-track-found bg_light choice_upload" onclick="goToAjaxLink('upload-album')">
							<span class="alb"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4M18,7H15V12.5A2.5,2.5 0 0,1 12.5,15A2.5,2.5 0 0,1 10,12.5A2.5,2.5 0 0,1 12.5,10C13.07,10 13.58,10.19 14,10.5V5H18M20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2Z"></path></svg></span> {{LANG Upload an album}}
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</div>
</div>