<div class="modal fade" id="albums" role="dialog" aria-labelledby="albums" aria-hidden="true" data-id="{{t_id}}">
	<div class="modal-dialog mat_box" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{LANG Select albums}}</h5>
			</div>
			<div class="modal-body">
				<ul class="list-unstyled add-select-albums">
					{{list}}
				</ul>
			</div>	
			<div class="modal-footer">
				<button type="button" class="btn btn-mat btn-default" data-dismiss="modal">{{LANG Cancel}}</button>
				<button type="button" class="btn btn-primary btn-mat" onclick="addToAlbum();">{{LANG Add}}</button>
			</div>
		</div>
	</div>
</div>