<div class="ma_page_content sfy_pc_padd">
	<div class="ma_pc_inner">
		<?php echo loadPage('sidebar/top-header')?>
		<div class="valign sfy_pg_title">
			<h4 class="valign ptitle">
				<div class="valign"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-7H2v-2l1-5h18l1 5v2h-1zM5 13v6h14v-6H5zm1 1h8v3H6v-3zM3 3h18v2H3V3z"></path></svg></div> {{LANG Store}}
			</h4>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="content mt-0 search_filters_cont">
					<ul class="list-unstyled search_tabs">
						<li class="<?php echo ($music->pageType == 'songs') ? 'active' : ''; ?>">
							<a href="{{LINK store/songs}}" data-load="store/songs"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M20 3v14a4 4 0 1 1-2-3.465V6H9v11a4 4 0 1 1-2-3.465V3h13z"></path></svg> {{LANG Songs}}</a>
						</li>
						<li class="<?php echo ($music->pageType == 'album') ? 'active' : ''; ?>">
							<a href="{{LINK store/album}}" data-load="store/album"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M13 9.17A3 3 0 1 0 15 12V2.458c4.057 1.274 7 5.064 7 9.542 0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2c.337 0 .671.017 1 .05v7.12z"></path></svg> {{LANG Albums}}</a>
						</li>
						<?php if( $music->config->artist_sell == 'on' ) { ?>
							<li class="<?php echo ($music->pageType == 'top') ? 'active' : ''; ?>">
								<a href="{{LINK store/top}}" data-load="store/top"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"></path></svg> {{LANG Top Seller}}</a>
							</li>
						<?php } ?>
						<?php if( $music->config->store_system == 'on' ) { ?>
							<li class="<?php echo ($music->pageType == 'products') ? 'active' : ''; ?>">
								<a href="{{LINK store/products}}" data-load="store/products"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" /></svg> {{LANG Products}}</a>
							</li>
						<?php } ?>
					</ul>
					{{filters}}
				</div>
			</div>
			<input type="hidden" id="filter_type" value="songs">
			<div class="col-lg-9 store_songs srch_col" id="store_result">
				<?php if( $data['records'] > 0 ){?>
					{{html_content}}
				<?php } else { ?>
					<div class="no-track-found bg_light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,3V15.5A3.5,3.5 0 0,1 17.5,19A3.5,3.5 0 0,1 14,15.5A3.5,3.5 0 0,1 17.5,12C18.04,12 18.55,12.12 19,12.34V6.47L9,8.6V17.5A3.5,3.5 0 0,1 5.5,21A3.5,3.5 0 0,1 2,17.5A3.5,3.5 0 0,1 5.5,14C6.04,14 6.55,14.12 7,14.34V6L21,3Z" /></svg>{{LANG No more songs}}</div>
				<?php } ?>
				<?php if( $data['records'] > 0 ){?>
					<div class="text-center see_all">
						<a href="javascript:void(0); loadMore('store_songs', '');" id="load-more-button"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> {{LANG Load More}}</a>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>
</div>