<?php if ($music->pageType != 'products') { ?>
	<div class="store_filters search_filters">
		<div class="store_widget <?php if( $music->config->artist_sell !== 'on' ) { echo "d-none";} ?>">
			<div class="valign s_widget_head" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">{{LANG price}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg></div>
			<div class="collapse store_pric_range" id="collapsePrice">
				<p>
					<label for="amount">{{LANG Price range}}:</label>
					<input type="text" id="amount" readonly>
				</p>
				<div id="slider-range"></div>
			</div>
		</div>
		<div class="store_widget">
			<div class="valign s_widget_head" data-toggle="collapse" data-target="#collapseGenre" aria-expanded="false" aria-controls="collapseGenre">{{LANG genres}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg></div>
			<div class="collapse store_categories" id="collapseGenre">
				<?php foreach($music->categories as $key => $category){?>
					<div class="sfy_custm_rdo">
						<input type="checkbox" name="<?php echo $category;?>" id="<?php echo $category;?>" value="<?php echo $key;?>" class="song_category" data-category="<?php echo $key;?>">
						<label for="<?php echo $category;?>"><?php echo $category;?></label>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>

	<script>
	  $( function() {
		$( "#slider-range" ).slider({
		  range: true,
		  min: <?php echo $music->min_song_price;?>,
		  max: <?php echo $music->max_song_price;?>,
		  values: [ <?php echo $music->min_song_price;?>, <?php echo $music->max_song_price;?> ],
		  slide: function( event, ui ) {
			  filter_search_results(ui.values[ 0 ],ui.values[ 1 ]);
			  $( "#amount" ).val( "{{CONFIG currency_symbol}}" + ui.values[ 0 ] + " - " + "{{CONFIG currency_symbol}}" + ui.values[ 1 ] );
		  }
		});
		$( "#amount" ).val( "{{CONFIG currency_symbol}}" + $( "#slider-range" ).slider( "values", 0 ) + " - {{CONFIG currency_symbol}}" + $( "#slider-range" ).slider( "values", 1 ) );
	  } );

	  function filter_search_results(from=0.99,to=40){
		  let geners = [];
		  let filter_type = $('#filter_type').val();
		  $('.song_category').each(function(i, obj) {
			  if(this.checked){
				  geners.push($(obj).attr('data-category'));
			  }
		  });
		  $.get(ajaxUrl() + "/store-filter", {price_from: from, price_to: to, geners: geners, filter_type: filter_type}, function (data) {
			  if(data.status == 200){
				  $('#store_result').html(data.html);
				  $('#load-more-button').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}');
			  }
		  });
	  }
	  $(document).on('click','.song_category',function(e){
		  var from = $( "#slider-range" ).slider( "values", 0 );
		  var to = $( "#slider-range" ).slider( "values", 1 );
		  filter_search_results(from,to);
	  });
	</script>
	
<?php }else{ ?>
	
	<div class="store_filters search_filters">
		<div class="store_widget" style="<?php if( $music->config->artist_sell !== 'on' ) { echo "display: none;";} ?>">
			<div class="valign s_widget_head" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">{{LANG price}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg></div>
			<div class="collapse store_categories" id="collapsePrice">
				<div class="store_pric_range">
					<p>
						<label for="amount">{{LANG Price range}}:</label>
						<input type="text" id="amount" readonly>
					</p>
					<div id="slider-range"></div>
				</div>
			</div>
		</div>
		<div class="store_widget">
			<div class="valign s_widget_head" data-toggle="collapse" data-target="#collapseGenre" aria-expanded="false" aria-controls="collapseGenre">{{LANG Category}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg></div>
			<div class="collapse store_categories" id="collapseGenre">
				<?php foreach($music->products_categories as $key => $category){?>
					<div class="sfy_custm_rdo">
						<input type="checkbox" name="<?php echo $category;?>" id="<?php echo $category;?>" value="<?php echo $key;?>" class="song_category" data-category="<?php echo $key;?>">
						<label for="<?php echo $category;?>"><?php echo $category;?></label>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( function() {
			$( "#slider-range" ).slider({
			  range: true,
			  min: 1,
			  max: 10000,
			  values: [ 1, 10000 ],
			  slide: function( event, ui ) {
				  filter_search_results(ui.values[ 0 ],ui.values[ 1 ]);
				  $( "#amount" ).val( "{{CONFIG currency_symbol}}" + ui.values[ 0 ] + " - " + "{{CONFIG currency_symbol}}" + ui.values[ 1 ] );
			  }
			});
			$( "#amount" ).val( "{{CONFIG currency_symbol}}" + $( "#slider-range" ).slider( "values", 0 ) + " - {{CONFIG currency_symbol}}" + $( "#slider-range" ).slider( "values", 1 ) );
		  } );

		  function filter_search_results(from=0.99,to=40){
			  let category = [];
			  $('.song_category').each(function(i, obj) {
				  if(this.checked){
					  category.push($(obj).attr('data-category'));
				  }
			  });
			  $.get(ajaxUrl() + "/product/product_search", {price_from: from, price_to: to, category: category}, function (data) {
				  if(data.status == 200){
					  $('#store_result').html(data.html);
					  $('#load-more-button').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}');
				  }
			  });
		  }
		  $(document).on('click','.song_category',function(e){
			  var from = $( "#slider-range" ).slider( "values", 0 );
			  var to = $( "#slider-range" ).slider( "values", 1 );
			  filter_search_results(from,to);
		  });
	</script>
<?php } ?>