<div class="item">
	<img src="{{thumbnail}}" alt="{{title}}" />
	<div class="valign featcard">
		<div class="bg_text">
			<h2><a href="{{url}}" data-load="{{ajax_url}}">{{title}}</a></h2>
			<a href="{{url}}" data-load="{{ajax_url}}" class="btn btn-primary btn-mat btn-mat-raised"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"></path></svg> {{LANG Play}}</a>
		</div>
		<div class="alb_covr">
			<a href="{{url}}" data-load="{{ajax_url}}"><img src="{{thumbnail}}" alt="{{title}}" /></a>
		</div>
	</div>
</div>