<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<h2 class="home_widget_title home_big_title mt-0 mb-4">{{LANG Genres}}</h2>
			<!-- Genres List -->
				<div class="genre_lst">
					<?php foreach ($music->categories as $key => $category) {?>
					<div class="gnr_list_item">
						<a href="{{LINK explore-genres/<?php echo $key?>}}" data-load="explore-genres/<?php echo $key?>" class="">
							<div class="img_cnt">
								<img src="<?php echo getMedia(getCategoryInfo($key)->background_thumb);?>" alt="category" />
								<div class="name"><?php echo $category?></div>
							</div>
						</a>
					</div>
					<?php } ?>
				</div>
			<!-- End Genres List -->
		</div>
	</div>
</div>